<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet1.css')}}">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Lil' Paws</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>


    <div class = "container" style="display: inline-block; vertical-align: middle;">
      <center>
      <a href="/puppies"> puppies</a>
    </center>
    </div>


  </body>

  <!--script src="{{ url_for('static', filename='js/app.js')}}"></script-->
</html>